body{
    background-color:#176B87;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
}

img {
    width: 100px;
    margin: 0px;
   
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04364A;
}


.tituloprinc{
    color: #ffffff;
    
}

.estoque{
    width: auto;
    height: 60px;
}

.TituloSecundario{
    color: #ffffff;

}

