body{
    background-color:#176B87;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
}

img {
    width: 100px;
    margin: 0px;
   
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04364A;
}


.tituloprinc{
    color: #ffffff;
    
}

.estoque{
    width: auto;
    height: 60px;
}

#userscontainer {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.func_principais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px 0px 50px;
    font-family: Anton;
}


.func_principais p {
    margin-top: 2px;
    color: #ffffff;
}



.cadastro p {
    margin-right: 17px;
    margin-top: 0px;

}

.cadastro img {
    width: 108px;
}

.userscontainer2 {
    display: flex;
    justify-content: center;
}
.funcio img {
    width: 117px;
}

.saida img {
    margin-left: 40px;
    width: 90px;
}

.entrada img {
    width: 90px;
    margin-left: 10px;
}
